@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


@theme{
  --breakpoint-3xl: 120rem;
}

.container {
  max-width: 1120px;
  margin-inline: auto;
}

.map-container {
  height: 70vh;
}

@media only screen and (max-width: 768px) {
  .map-container {
    height: calc(100vh - 100vh/2);
  }

  .container {
    padding-inline: 8px;
  }
}

button,
a,
label {
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
}

body.no-scroll {
  overflow: hidden;
}

#mobile-menu {
  transform: translateX(100%);
  transition: all 0.25s;
}

#mobile-menu.active {
  transform: translateX(0);
}

/* header {
  -webkit-mask-image: url("/src/images/headerbg.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: url("/src/images/headerbg.svg");
  mask-repeat: no-repeat;
  mask-size: cover;
  border-bottom-left-radius: 100px;
  filter: drop-shadow(70px -17px 13px rgba(0, 0, 0, 0.2));
} */

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='%23486D6F' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 3px center;
  background-size: 1.3rem;
}

.custom-select {
  position: relative;
}

.custom-select::after {
  content: "";
  position: absolute;
  top: 0;
  right: 30px;
  height: 100%;
  width: 1px;
  background-color: #486d6f;
}
